<div class="linkpost">
<p><%=link_to_redirect links%> 
Score: <span id="score.<%=links.id%>">
    <%=link_to_remote links.score,:update=>"score.#{links.id}", :url=>{:action=>'bump', :id=>links.id} %></span> 

Submitted by <%=links.user.firstname+" "+links.user.lastname%> 
<%if i_am links.user%>
<%=link_to "Delete", :action=>'delete', :id=>links.id%> 
<%end%>
<br>Description:
<p><%=mup(links.description)%></p>
<br>Clicked: <%=links.clicked%> times. 
</div>
