.bundle
db/*.sqlite3
log/
tmp/
.sass-cache/
.rvmrc
.hg
*~
heroku_env.rb
rdoc/*
.DS_Store
db/backup
tmp*

# Ignore *.dot and *.svg files
notes/*.dot
notes/*.svg

# Ignore the Gemsurance Report
gemsurance_report.html

# Ignore the gems in vendor/cache (too much source code bloat)
vendor/cache
