Thanks for signing up to the RUM website.  If you have no idea what this is about, it's safe to ignore this email.


To activate your account, visit 

<%=validate_new_user_url(:host=>'www.ruby.mn', :key=>@user.security_token)%>


If you're having trouble signing up, contact m@loonsoft.com


Thanks,

RUM


