The following gig was posted by <%=@o.user.firstname%> <%=@o.user.lastname%> at or around <%=Time.now.to_s(:short)%>:

Blurb: <%=@o.headline%>

Body: 

--
<%=@o.body%>
--

Contact: <%=@o.user.email%>


----
If you don't want to receive these notifications, set your mail filters appropriately. You can do that, right?
