.introduction
  %h1 Admin Console

.admin_events
  %h2.pending_events Pending Events
  - if @events.any?
    = render :partial => 'event', :collection => @events
  - else
    %p There are no pending events.
