-form_tag session_path do
  %fieldset
    %legend
      Please Login
    %label
      Username 
    =text_field_tag  "login", :size => 30 
    %br/
    %label 
      Password:
    =password_field_tag "password", :size => 30

    .submit
      =submit_tag 'Login' 
      %br/
      =link_to 'Register for an account', new_user_path
      |
      = link_to 'Forgot my password', :controller=>'users', :action=>'forgot_password'
