%fieldset
  %label Title
  = f.text_field "title"
  %br/

  %label Email
  = text_field "for_hire", "email"
  %br/

  %label Blurb
  = text_area "for_hire", "blurb"
  %br/

  .submit
    = submit_tag "Save"
