.introduction
  %h1 Available For Hire

  %p If you're looking for some local Ruby talent to help with your project, or just hang around drinking beers all day, you could do worse than starting with this list.

  - if current_user
    %br
    - unless current_user.for_hire
      %p If you are a Ruby developer, #{ link_to 'add your listing', new_for_hire_path }.
    - else
      %p You already have a "For Hire" entry.  You may edit it #{link_to 'here', :action => 'edit'}.

.hires
  %ul
    = render @for_hires
