/*global styles*/
a,a:visited {text-decoration:none;color:#000;background-color:#FFD8D2;}
a:hover{text-decoration:underline;}
.clear {clear:both;}

h1 a, h1 a:visited,
h2 a, h2 a:visited,
h3 a, h3 a:visited,
h4 a, h4 a:visited,
.logo a, .logo a:visited {background-color:transparent;}


body {
  background:#ddd url(/images/main_bg_plain.png);
  font-family: Helvetica, Arial, sans-serif;
}
li.beardo {
  text-decoration:none;
  display: block;
  margin: 10px;
}
  

#header{
  width:100%;
  min-width:960px;
  overflow:hidden;
  background:url(/images/header_repeated_bg.png) repeat-x top center;
  height:334px;
  position:relative;
  margin:0px auto;
}
.wrapper {
  width:auto;
  min-width:960px;
  margin:0 auto;
}
#header .logo {
  height:258px;
  width:800px;
  padding:0px;
  margin:0px auto;
  position:relative;
}
#header .logo img#main_header_logo{
  position:absolute;
  left:-128px;
  top:13px;
}
#nav_wrapper {
  height:100px;
  margin:0px auto;
  background:url(/images/header_repeated_bg.png) repeat-x 0px -280px;
}
#navigation {
  width:800px;
  margin:13 auto;
  height:30px
}
#navigation ul {
  margin-bottom:0px;
}
#navigation a {
  background:url(/images/main_nav_sprite.png) no-repeat -134px 0px;
  font-family:Arial, sans-serif;
  height:61px;
  width:136px;
  float:left;
  margin:0px -6px 0px 0px;
  color:#fff;
  text-decoration:none;
}
#navigation a:hover {
  background:url(/images/main_nav_sprite.png) no-repeat -269px 0px;
}
#navigation a.selected {
  background:url(/images/main_nav_sprite.png) no-repeat -0px 0px;
}
#navigation a strong {
  font-weight:normal;
  font-size:17px;
  position:relative;
  top:15px;
  left:10px;
  text-transform:uppercase;
  text-shadow: #660000 -1px -1px 0;
}
#navigation a p {
  font-size:9px;
  color:#ddd;
  position:relative;
  top:15px;
  left:10px;
}
#navigation li {
  float:left;
}
#header .logo h1 {
  text-indent:-9999px;
}
.inner {
  width:800px;
  margin:0 auto;
}
#body #left-column {
  background-color:#ededed;
  border:1px solid #ccc;
  color:#333;
  float:left;  
  margin:20px 0;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  width:475px;
}
#body #left-column .introduction {
  color:#444;
  font-size:15px;
  line-height:16px;
  padding:20px;
}
#body #left-column .introduction h2{
  font-family:Helvetica, Arial, sans-serif;
}
#body #left-column .introduction p {
  font-family:Georgia, serif;
}
#body #left-column .introduction a {
  text-decoration: underline;
}
#body #left-column h2 {
  font-size:20px;
  color:#222;
  text-shadow: #fff 1px 1px 0;
  text-transform:uppercase;
}
#body #right-column {
  float:right;
  width:225px;
  background:#ededed;
  margin:20px 0;
  padding:20px;
  -moz-border-radius:3px;
  border:1px solid #ccc;
}
#body #right-column h2 {padding:10px 0;}
#body #bottom {
  width:100%;
  padding:20px;
  margin:30px 0;
  background:#ededed;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}
#body #bottom #container {
  width:100%;
  height:360px;
}
#body #bottom #container #map {
  float:right;
  width:420px;
  border:1px solid #ccc;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}

#body #bottom #container #meeting-place {
  float:left;
  width:300px;
  background:#fff;
  border:1px solid #ccc;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  padding:20px;
}
#body #bottom #container #meeting-place .address {
  width:442px;
}
#body #bottom #container #meeting-place #view_map {
  font-family:Arial;
  font-size:12px;
  font-style:italic;
  color:#555;
  float:right;
}
h2.refactr {
  background:url(/images/refactr.gif) no-repeat top left;
  text-indent:-9999px;
  height:56px;
}

#body #bottom h3 {
  text-transform:uppercase;
  text-shadow: #fff -1px -1px 0;
}
#footer {
  height:47px;
  background:url(/images/footer_repeated_bg.png) repeat-x top left;
  width:100%;
  min-width:960px;
}
#footer a, #footer a:visited {background-color:transparent;}
#footer .inner a {
  color:#ccc;
  text-decoration:none;
  font-weight:bold;
}
#footer .inner a:hover {
  text-decoration:underline;
}
#footer .inner {
  font-family:"helvetica neue";
  color:#aaa;
  padding-top:14px;
  font-size:13px;
}
#footer .inner #copyright {
  float:left;
}
#footer .inner #credits {
  font-size:11px;
  float:right;
}
.amp {font-style:"fantasy";font-size:15px;font-style:italic;}


.notice,.error {
  padding:5px 8px;
  margin: 10px 0; 
}
.notice {
  background-color: #CFC;
  border-top: solid 1px #6C6;
  border-bottom: solid 1px #6C6;
}
.error {
  background-color: #FCC;
  border-top: solid 1px #C66;
  border-bottom: solid 1px #C66;
}

.errorExplanation
{
  background-color: #FCC;
  border-top: solid 1px #C66;
  border-bottom: solid 1px #C66;
  padding: 10px;
  margin-bottom: 10px;
}
.fieldWithErrors
{
  background-color: #FCC;
  padding-bottom: 10px;
  padding-top: 0px;
}


/*form styles*/
form {
  padding:10px 0;
}
form label {
  color:#333;
}
form div {
  padding:5px 0;
}

fieldset label { position: absolute; text-align:right; width:130px;  margin-top: 10px;}
fieldset input, fieldset textarea, fieldset .select_container { margin-left: 140px; margin-top: 10px; }
fieldset .select_container { margin-left:132px; margin-top:3px;}
fieldset label.check, fieldset label.radio { position:relative; text-align:left; }



.opening {
  padding:20px 0;
}
.opening .body {
  padding-left:5px;
  font-style:italic;
  color:#333;
}



.cancel {
  font-size:12px;
  color:#666;
}
.signup {
  font-family:georgia;
  color:#555;
  padding-left:10px;
  font-size:14px;
  border-left:3px solid #aaa;
}

#links li {
  background:#ddd;
  padding:5px 5px 5px 10px;
  margin:3px;
/*  width:100px;*/
}
#links li:hover {
  background:#ccc;
}
#links a {
  font-weight:bold;
  text-transform:uppercase;
  text-shadow:1px 1px 0 #fff;
  font-size:14px;
  text-decoration:none;
  background-color:transparent;
}
#links a:hover {
  text-decoration:none;
}
.events h2 {
  padding:0 20px;
}
.events ul li, .projects ul li, .members ul li, .hires ul li, .sponsors ul li, .past-sponsors ul li {
  background-color:#ddd;
  background:-moz-linear-gradient(0% 0% 270deg,#ededed, #DDDDDD);
  background:-webkit-gradient(linear, 100% 0%, 100% 100%, from(#EDEDED), to(#ddd));
} 
.event {
  padding:20px;
}
.event h3 {
  font-size:20px;
  text-decoration:1px 1px 0 #fff;
  color:#444;
}
.event .time {
  width:300px;
  color:#777;
  font-style:italic;
}
.event .content a{text-decoration:underline;}
.event .content ul {
  padding-left:15px;
}
.event .content ul li {
  background:none;
  list-style-type:disc;
}

.project, .for_hire, .new_login, .sponsor {
  padding:20px;
}
.for_hire a, .project a {
  text-decoration:underline;
}

.sponsor .logo { padding: 7px;}
.sponsor .logo.zencoder { background-color:#000; padding-bottom:10px;}
.info-hidden {display:none;}
h2.past-sponsors {padding-top:20px;padding-left:20px;}
.past-sponsors li {
  float:left;
  width:157px;
  height: 77px;
}
.past-sponsors .logo img {
  width:143px;
}
.past-sponsors .sponsor{padding:0;}
