#navbar{border-left: 2px solid #BBB; padding: 10px;}
#hd{margin-top:10px;}
#ft{margin-top:10px; border-top: 2px solid #BBB; padding-top: 10px;}
div#ft p {
  font-size: 10px;
  color:gray;
}
input{margin: 2px;margin-bottom:5px;}