
#modal_overlay {  
  background-color:#909090;
}  
.flashinfo {
  color: blue;
  margin-top:10px;
  margin-bottom:10px;
}
.flasherror {
  color: red;
  margin-top:10px;
  margin-bottom:10px;
}
#navbar{border-left: 2px solid #BBB; padding: 10px;}
#hd{margin-top:10px;}
#ft{margin-top:10px; border-top: 2px solid #BBB; padding-top: 10px;}
div#ft p {
  font-size: 10px;
  color:gray;
}
input{margin: 2px;margin-bottom:5px;}
div.event, div.opening, div.for_hire, div.project, div.mailheader, div.linkpost, div.book {
  border: 1px dotted gray ;
  padding:4px;
  /*  width:75%;*/
  margin:5px;
}

.control {
  font-size: 10px;
  color:gray;
}

legend {
  font-size: 1.3em;
  font-weight: bold;
}

div.messagebody {
  background: #c0c0c0;
  padding: 10px;
}
form label {
  display: block;
  float: left;
  width: 25%;
  padding: 3px 5px;
  margin: 0 0 5px 0;
  text-align: right;
}
form br{clear:both;}

form  input, form select, form textarea {
  padding: 1px 3px;
}

.submit
{
  margin: 0 25%;
  text-align:center;
}

#meeting-place{margin: -15px 10px;padding:10px;}


