body { background-color: #fff; color: #333; }
div.book {
  border:1px dotted gray line;
  margin: 10px;
  padding: 10px;
  background:lightgray;
  width: 75%;

}

.book_description {
  padding: 20px;
  background: lightblue;
  margin: 5px;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#ErrorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
label {
  display: block;

}
label input {
  display: block;
}
fieldset {
  width: 75%;
}

#ErrorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#ErrorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#ErrorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

div.event {
	border: 1px dotted gray ;
	padding:4px;
	width:75%;
  margin:5;
}
div.opening {
	border: 1px dotted gray ;
	padding:4px;
	width:75%;
  margin:5;
}

div#footer p {
	font-size: 10px;
	color:gray;
}

.control {
  font-size: 10px;
  color:gray;
}

div.messagebody {
  background: #c0c0c0;
  padding: 10px;
}

div.mailheader {
    border:1px dotted black ;
    width: 60%;
    margin:3px;
    padding:3px;

}
div.linkpost {
    border:1px dotted black ;
    width: 60%;
    margin:3px;
    padding:3px;
}

