- if user
  %li[user]
    - if user.gravatar_email.present?
      .gravatar{ :style => "background-image: url(#{gravatar_url(user.gravatar_email, :size => 80)})" }
    .user_name
      %span.firstname= user.firstname.try(:humanize)
      %span.lastname= user.lastname.try(:humanize)
    %span.email= user.email.gsub '@', ' [at] '
