- if user
  %li[user]
    .gravatar{ :style => ("background-image: url(#{user_gravatar user})" if user.gravatar_email.present?) }
    .user_name
      %span.firstname= user.firstname.try(:humanize)
      %span.lastname= user.lastname.try(:humanize)
    %span.email= user.email.gsub '@', ' [at] '
