.form
  -form_tag('/user/set_password')do 
    %fieldset
      %legend
        Change Password
      %label
        Password
      =password_field_tag "password"
      %br/
      %label
        Confirm Password
      =password_field_tag "pass2"
      %br/
      .submit
        =submit_tag
