.errors
  =error_messages_for 'user'
.form{:title=>"Create Account"}
  -form_for :user, :url=>users_path do |f|
    %fieldset
      %legend
        Signup

      %label
        First Name:
      =f.text_field "firstname"
      %br/
      %label
        Last Name:
      =f.text_field "lastname"
      %br/
      %label
        Username
      =f.text_field "login"
      %br/
      %label
        Email
      =f.text_field "email"
      %br/
      %label
        Password
      =f.password_field "password"
      %br/
      %label
        Confirm Password
      =f.password_field "password_confirmation"
      %br/
      %label
        &nbsp;
      =get_captcha
      .submit
        =submit_tag "signup"
        =link_to "Cancel", :action=>'login'

