%p
  -if !current_user.nil?
    You're logged in as 
    =h(current_user.login)
    =link_to "Logout", session_path, :method=>'delete'
  -else
    =link_to "Login", new_session_path
  |
  =link_to "Home", :controller=>"welcome"

%span{:style=>"float:right"}
  Another quick hack by 
  %a{:href=>"http://www.loonsoft.com"}
    Johann Gambolputty de von Ausfern-schplenden-schlitter-crasscrenbon-fried-digger-dingle-dangle-dongle-dungle-burstein-von-knacker-thrasher-apple-banger-horowitz-ticolensic-grander-knotty-spelltinkle-grandlich-grumblemeyer-spelterwasser-kurstlich-himbleeisen-bahnwagen-gutenabend-bitte-ein-nürnburger-bratwustle-gerspurten-mitz-weimache-luber-hundsfut-gumberaber-shönedanker-kalbsfleisch-mittler-aucher von Hautkopft of Ul.
