#navbar
  %ul
    - if current_user
      %li
        =link_to "Member List", users_path
      %li
        =link_to "Help Wanted", :controller=>'opening'
      %li
        =link_to "My Events", user_events_path(current_user)
      %li
        =link_to "Search Mailing List", archive_path
      %li
        = link_to "Logout", session_path, :method=>'delete'
      - if current_user.admin?
        %li
          =link_to "Admin", :controller=>'admin', :action=>'index' 
    - else
      
      %li
        =link_to "New User Registration", new_user_path
      %li 
        =link_to "Login", new_session_path
    %li
      =link_to "For-Hire", :controller=>"for_hire"
    %li
      %a{:href=>"http://www.loonsoft.com/hg/tcrbb"}
        =VERSION
    %hr/
    %p
      Hosting provided by
      %a{:href=>'https://manage.slicehost.com/customers/new?referrer=169405296'}
        SliceHost.com
