#navbar
  %ul
    - if current_user
      %li
        =link_to "Member List (#{User.count})", users_path
      %li
        =link_to "Help Wanted", openings_path
      %li
        =link_to "My Events", user_events_path(current_user)
      %li
        = link_to "Logout", session_path, :method=>'delete'
      - if current_user.admin?
        %li
          =link_to "Admin", :controller=>'admin', :action=>'index' 
    - else
      
      %li
        =link_to "Join!", new_user_path
      %li 
        =link_to "Login", new_session_path
    %li
      =link_to "Member Projects", projects_path
    %li
      =link_to "For-Hire", for_hires_path
    %li
      =link_to "Source", 'http://bitbucket.org/mml/ruby-mn-site/'
    %hr/
    %p
      Hosting provided by
      %a{:href=>'https://manage.slicehost.com/customers/new?referrer=169405296'}
        SliceHost.com
