  <div id="<%="book_#{book.id}"%>" class="book">
    <h3><%=h book.title%></h3>
    By <%=h book.author%>
    <br>ISBN: <%=h book.isbn%>
    <p class="book_desc"><%=h book.description%></p>
    Contact: <%=mail_to h( book.user.email)%>

    <%if book.user.id == session[:user].id%>
    <br><%=link_to_remote "Delete", :url=>{:controller=>'book', :action=>"delete", :id=>book.id}%>
    <%end%>
  </div>
