<fieldset>
  <div id="errors">
  </div>
  <legend>Book Form</legend>
  <%form_remote_tag(:url=>'/books/new') do%>
<label>Title</label><br>
<%=text_field "book", "title"%>
<br><label>Author</label><br>
<%=text_field "book", "author"%>
<br><label>ISBN #</label><br>
<%=text_field "book", "isbn"%>
<br><label>Description (markdown supported)</label><br>
<%=text_area "book", "description", :rows=>3%>
<br><%=submit_tag%>
<%=link_to_remote "Cancel", :url=>{:action=>'hide_form'}%>
<%end%>
</fieldset>
