<h1>Book#index</h1>
<p>It's the Library!  You can add your books <%=link_to_remote "here", :url=>{:action=>'add'}%>
<div id="book_form">
</div>
<div id="book_table">
<%=render :partial=>"book", :collection=>@books%>
</div>
