%h1
  Book#index
%h2
  It's The Library!

%p
  =link_to_remote "Add your books!", :url=>{:action=>'add'} 
%p
  Now featuring exactly 
  =@books.size 
  titles!
#book_form

#book_table
  =render :partial=>"book", :collection=>@books
