%h1='Welcome'

This is the home of Ruby Users of Minnesota &mdash; a fine group of Ruby enthusiasts from around the
Twin Cities metro area (that is to say the fine cities of Minneapolis and Saint Paul as well as exotic 
locales like Dinkytown and Pig's Eye.)

%p
  You'll want to 
  =link_to "login", :controller=>'user', :action=>'login'
  or
  =link_to "sign up", :action=>'signup', :controller=>'user'
  to use any of the nifty features, like the
  =link_to "help wanted", :controller=>'opening'
  , 
  =link_to "events", :controller=>'event'
  or 
  =link_to "member list", :controller=>'user', :action=>'list'
  and
  =link_to "for-hire", :controller=>"for_hire"
  sections. 
  %em 
    And if you're a member, you can
    = succeed '.' do 
      =link_to "borrow a book", :controller=>'book'
    That's right, membership does have it's privileges!

%p
  = succeed '.' do
    You may want to check out the mailing list 
    =link_to "archive", :controller=>'archive', :action=>'index'
  
  To join the list yourself, just send mail to
  %a{:href=>"mailto:ruby.mn+subscribe@ruby.mn"}='ruby.mn+subscribe@ruby.mn'

%p
  :plain
    Our group meets on the last Tuesday of each month at 7 PM (come early to hack Ruby code).  Our home is:<br>
    <a href="http://www.loringpark-mpls.dunnbros.com/">the Dunn Bros Coffee Shop on Loring Park</a><br>
    329 West 15th St.<br>
    Minneapolis, MN 55403<br>
    <span style="font-size:.8em;">
      <a href="http://maps.google.com/maps?f=q&amp;hl=en&amp;q=DunnBros+Loring+Park+329+West+15th+St.&amp;sll=44.969383,-93.280706&amp;sspn=0.015485,0.03047&amp;ie=UTF8&amp;z=15&amp;om=1&amp;iwloc=A">Map</a><br>
    </span>

%p
  We now have <a href="http://www.google.com/calendar/ical/4g380qh7p0taroueuulfajauck@group.calendar.google.com/public/basic">Google Calendar iCal file</a> of upcoming events.  We'll see you at the next meeting.

-if defined?(@empty) && !@events.empty?
  %h2='Announcements'
  -if !current_user.nil?
    %p=link_to "Add a New Event", :controller => 'event', :action => 'create'
    =render :partial=>"event/event", :collection=>@events
