%h1='Welcome'

This is the home of Ruby Users of Minnesota &mdash; a fine group of Ruby enthusiasts from around the
Twin Cities metro area (that is to say the fine cities of Minneapolis and Saint Paul as well as exotic 
locales like Dinkytown and Pig's Eye.)

%p
  You'll want to 
  =link_to "login", new_session_path
  or
  =link_to "sign up", new_user_path
  to use any of the nifty features, like the
  =link_to "help wanted", :controller=>'opening'
  , 
  =link_to "events", :controller=>'event'
  or 
  =link_to "member list", :controller=>'user', :action=>'list'
  and
  =link_to "for-hire", :controller=>"for_hire"
  sections. 

%p
  To join the mailing list, just send mail to
  %a{:href=>"mailto:ruby.mn+subscribe@ruby.mn"}='ruby.mn+subscribe@ruby.mn'

%p
  Our group meets on the 
  %b
    last Monday of each month at 7 PM 
  (come early to hack Ruby code).  
  %b
    Our meetings are held at:
  %div#meeting-place
    %span.big
      %b
        %a{:href=>"http://www.acadiacafe.com/"}='Acadia Caf&eacute;'
    %br/
    %a{:id=>'maplink', :href=>'#map'}
      1931 Nicollet Avenue South
    %br/
    Minneapolis, MN 55403
    %br/
    Phone: 612-874-8702

%p
  There's usually someone there 
  %em
    every 
  Monday, keep an eye on the 
  %a{:href=>"mailto:ruby.mn+subscribe@ruby.mn"}='mailing list'
  to see who's going to be there.


-if defined?(@events) && !@events.empty?
  %h2='Announcements'
  -if !current_user.nil?
    %p=link_to "Add a New Event", new_event_path(current_user)
  =render :partial=>"events/event", :collection=>@events

#map
  %iframe{:width=>"425", :height=>"350", :frameborder=>"0", :scrolling=>"no", :marginheight=>"0", :marginwidth=>"0", :src=>"http://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=1931+Nicollet+Avenue+South+55403&amp;sll=37.0625,-95.677068&amp;sspn=41.275297,64.599609&amp;ie=UTF8&amp;z=14&amp;iwloc=addr&amp;om=1&amp;ll=44.970688,-93.273582&amp;output=embed&amp;s=AARTsJp-PZbTaKEq8TcjqGTQrw3GCRelZg"}>

%script
  new Control.Modal('maplink', {
  opacity:0.8,
  width:425,
  height:350});
