.event
  %h3
    - if event.scheduled_time
      =event.scheduled_time.to_s(:short)
      =event.headline

    - if current_user and (event.user == current_user || current_user.admin?)
      =link_to "delete", user_event_path(event.user, event), :method=>:delete
      =link_to 'edit', edit_user_event_path(event.user, event)
    - if current_user and current_user.admin?
      = link_to "details", event_user_path(event.user, event)
  %h4
    - if event.user == current_user
      = event.approved? ? "Approved" : "Not Approved Yet"

  %p
    =mup(event.body)
