.form
  - form_for :event, :url=>user_events_path do |f|
    %fieldset
      %legend
        New Event
      %label
        Headline 
      = f.text_field  :headline
      %br/
      %label
        Time &amp; Date:
      = f.datetime_select  :scheduled_time
      %br/
      (That's 24 hour time bub.)
      %br/
      %label
        Details
      = f.text_area  "body"
      .submit
        =submit_tag
