%h1
  Events

%p
  You want to 
  =link_to "create", new_user_event_path(current_user)
  an event?


%h2
  Your events


%ul
  =render :partial=>"event", :collection=>@events
%h3
  Note: events have to be approved by an administrator before they show up on the front page. If this is a commercial "event", it will probably be denied, unless you contact 
  =  mail_to 'm@loonsoft.com', 'the administrators'
  first.
