.introduction
  %h1 Projects by Ruby.mn Members
  %p
    These projects are the work of Ruby.mn members.  Some are ruby related. Some are not.
  - if current_user
    %p
      = "To Add Your Project, #{link_to 'Click Here', new_project_path}"

.projects
  %ul
    = render :partial => 'project', :collection => @projects