<fieldset>
  <legend>Change Password</legend>
  <%form_tag('/user/set_password')do %>
  <label>Password<%=password_field_tag "password"%></label>
  <label>Confirm Password<%=password_field_tag "pass2"%></label>
  <%=submit_tag%>
  <%end%>
</fieldset>
