
%h1 
  This archive has been discontinued.
%h2
  Newer messages can be viewed and searched at 
  %a{:href=>'http://dir.gmane.org/gmane.comp.lang.ruby.region.minnesota'}
    GMANE.org


%h1
  Search
  = ListMail.count.to_s
  documents

=render :partial => 'search_form'
