.opening
  %h3
    =h(opening.headline)  
    =h(opening.created_at.to_date.to_s(:db))
  %p
    =mup(opening.body)
  %h4
    =mail_to opening.user.email, "Contact #{opening.user.firstname} #{opening.user.lastname}", :encode=>'javascript'
  - if current_user == opening.user
    =link_to "delete", :action=>'destroy', :id=>opening.id
    =link_to "edit", :action=>'edit', :id=>opening.id
