.form
  - form_for :opening, :action=>"create" do |f|
    - if !params[:id].nil?
      =hidden_field "opening", "id", params
    %fieldset
      %legend
        Opening
      %label
        Title 
      =text_field "opening", "headline"
      %br/
      %label 
        Body
      =text_area "opening", "body"
      %br/
      .submit
        =submit_tag
