<%=start_form_tag :action=>"create"%>
<%if !params[:id].nil?%>
<%=hidden_field "opening", "id", params%>
<%end%>
Title<br> <%=text_field "opening", "headline"%><br>
Body<br>
<%=text_area "opening", "body"%><br>
<%=submit_tag%>

<%=end_form_tag%>
