<div class="for_hire">
<h1><%=h for_hire.title%></h1>
<%=mail_to h(for_hire.email), "Email", :encode=>'javascript'%>
<p><%=mup for_hire.blurb %></p>
<%if i_am for_hire.user%>
<br>
<div class="control">
  [<%=link_to "Edit", :action=>'create', :id=>for_hire.id%>
  <%=link_to "Delete", {:action=>'destroy',:id=>for_hire.id}, :confirm=>'Are you sure?'%>]
</div>
<%end%>
</div>
