<%=params[:id]%>
<%=start_form_tag%>
<%if !params[:id].nil? %>
<%=hidden_field "for_hire", "id"%>
<%end%>
<p>Title<br>
<%=text_field "for_hire", "title"%>
<br>Email<br>
<%=text_field "for_hire", "email"%>
<br>Blurb<br>
<%=text_area "for_hire", "blurb"%>
<br>
<%=submit_tag%>
<%=end_form_tag%>
