<html>
  <head>
    <title>RUM</title>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= javascript_include_tag :defaults %>
  </head>

  <body>
    <%=@content_for_layout%>
    <%=render 'layouts/footer'%>
  </body>
</html>
